<!-- ナビゲーションバー -->
<nav xmlns:th=http://www.thymeleaf.org>
    <ul>
      <li><a th:href="@{/}">ホーム</a></li>
      <li><a th:href="@{/about}">会社概要</a></li>
      <li><a th:href="@{/contact}">お問い合わせ</a></li>
      <!-- ログイン中の表示 -->
      <li th:if="${#authentication.name != 'anonymousUser'}">
        <a th:href="@{/logout}">ログアウト</a>
      </li>
      <!-- ログアウト中の表示 -->
      <li th:if="${#authentication.name == 'anonymousUser'}">
        <a th:href="@{/login}">ログイン</a>
      </li>
    </ul>
  </nav>
</header>
</body>
</html>

