<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/home">ホーム</a></li>
            <li><a href="/profile">プロフィール</a></li>
            <li>
                <form th:action="@{/logout}" method="post" style="display:inline;">
                    <button type="submit">ログアウト</button>
                </form>
            </li>
        </ul>
    </nav>
</header>
<h2>Login</h2>
<form th:action="@{/login}" method="post">
    <input type="text" name="email" placeholder="Email" required />
    <input type="password" name="password" placeholder="Password" required />
    <button type="submit">Login</button>
</form>
<a href="/register">アカウントをお持ちでない場合は、登録する</a>
</body>
</html>
